
@{
    ViewData["Title"] = "Contact";
}

<br />
<div class="text-center">
    <h1 class="text-primary display-3">Contact me</h1>
</div>

<br />
<br />
<br />
<br />

<div class="position-relative">

    <div class="position-relative start-50 top-50" style="width:450px;">
        <h3>Feel free to contact me using the information below.</h3>
        <hr />

        <div>
            <p><b>Mail: </b> alex_haubro@hotmail.com <p/>
        </div>

        <br />

        <div>
            <p><b>Phonenumber: </b> +45 20 35 57 29 <p/>
        </div>

        <br />

        <div>
            <p>I look forward to hearing from you! - I strive to respond within 24 hours.</p>
        </div>
    </div>

    <div style="position:absolute;left:25%; top:-4%" class="img-fluid">
        <img style="height:20vh; width:20vh" src="/images/cya.jpg"/>
    </div>

</div>